@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700;900&family=Outfit:wght@300&display=swap');

:root {
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-030: hsla(0, 0%, 27%, 1);
  --clr-neutral-010: hsla(0, 0%, 8%, 1);
  --clr-primary-100: hsla(24, 56%, 63%, 1);

  --ff-heading: 'Big Shoulders Display', cursive;
  --ff-body: 'Outfit', sans-serif;

  --fz-title-100: 3.75rem;
  --fz-title-110: 3.125rem;
  --fz-title-200: 3.125rem;
  --fz-title-210: 2rem;
  --fz-body: 1.125rem;
  --fz-footer: 1rem;
  --fz-btn: 1.25rem;

  --fw-reg: 300;
  --fw-bolder: 700;
  --fw-bold: 900;

  --paddwiser: 1rem;
}

/* ===================================================
============  General Settings =======================
====================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul[class] {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--clr-neutral-010);
}


body {
  margin: 0;
  color: var(--clr-neutral-030);
  font-family: var(--ff-body);
  font-size: var(--fz-body);
  font-weight: var(--fw-reg);
  line-height: 1.5;
}

/* =============== Utility Classes ================== */
.wraper {
  padding-left: var(--left-padd, var(--paddwiser));
  padding-right: var(--right-padd, var(--paddwiser));
  margin-left: auto;
  margin-right: auto;
  max-width: 1160px;
}

.vert-paddwise {
  padding-top: var(--top-padd, var(--paddwiser));
  padding-bottom: var(--bot-padd, var(--paddwiser));
}

/* .flowise>* {
  margin-bottom: 1em;
}
.flowise>*:last-child {
  margin-bottom: 0;
} */
.flowise>*+* {
  margin-top: var(--flowiser, 1em);
}

.gridwise {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
  row-gap: var(--row-gap, 1rem);
}

.blackboard {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-010);
}

.blackboard h1,
.blackboard h2 {
  color: var(--clr-neutral-100);
}

/* ===================================================
====================  Header =========================
====================================================== */

#home header {
  --left-padd: 0;
  --right-padd: 0;
}

.hero img {
  display: block;
  width: 100%;
}

.intro {
  padding-left: var(--paddwiser);
  padding-right: var(--paddwiser);
}

#home h1 {
  font-size: var(--fz-title-100);
  margin-top: 1em;
}

.intro .title-logo {
  margin: 0;
  position: absolute;
  left: -10000px;
}

#location header {
  background-color: var(--clr-neutral-010);
}

#location h1 {
  font-size: var(--fz-title-110);
}

/* ==================== Map ========================= */

#location #map {
  height: 400px;
}

/* ==================== Buttons ====================== */
.btn {
  display: inline-block;
  font-family: var(--ff-heading);
  font-size: var(--fz-btn);
  font-weight: var(--fw-bolder);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-neutral-100);
  letter-spacing: 4px;
  background-color: var(--clr-neutral-010);
  transition: background-color 170ms ease-out 100ms;
}

.btn span {
  /* outline: solid 2px fuchsia; */
  padding: 1.25em 1.75em;
}

.btn img {
  /* outline: solid 2px greenyellow; */
  background-color: var(--clr-primary-100);
  vertical-align: middle;
  padding: 1.25em 1em;
  transition: background-color 170ms ease-out 100ms;
}

.btn:focus,
.btn:hover {
  background-color: var(--clr-primary-100);
}

.btn:focus img,
.btn:hover img {
  background-color: var(--clr-neutral-010);
}

/* ===================================================
====================  Main ===========================
====================================================== */

main {
  --top-padd: calc(var(--paddwiser) * 4);
  --bot-padd: calc(var(--paddwiser) * 4);
}

#home main img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#home .gallery h2 {
  font-size: var(--fz-title-200);
}

.white-card {
  padding: 2.5rem 0;
}

.black-card {
  padding: 2.5rem 1.5rem;
}

#location .blackboard h2 {
  color: var(--clr-primary-100);
  font-size: var(--fz-title-210);
}

/* ===================================================
==================  Footer ===========================
====================================================== */

footer {
  --left-padd: calc(var(--paddwiser) * 2);
  --right-padd: calc(var(--paddwiser) * 2);
  --top-padd: calc(var(--paddwiser) * 3);
  --bot-padd: calc(var(--paddwiser) * 3);
  --row-gap: 2.5rem;
  font-size: var(--fz-footer);
}

#location footer {
  background: var(--clr-primary-100);
}

/*================ Social List =======================*/
.sns-list {
  list-style: none;
  display: flex;
}

.sns-item:not(:first-child) {
  margin-left: 2em;
}

.sns-item svg path {
  fill: var(--clr-neutral-100);
  transition: fill 110ms ease-out 70ms;
}

.sns-item a:focus svg path,
.sns-item a:hover svg path {
  fill: var(--clr-primary-100);
}

#location .sns-item svg path {
  fill: var(--clr-neutral-010);
  transition: fill 110ms ease-out 70ms;
}

#location .sns-item a:focus svg path,
#location .sns-item a:hover svg path {
  fill: var(--clr-neutral-100);
}

/* ===================================================
===============  Media Queries =======================
====================================================== */

@media all and (min-width: 570px) {
  :root {
    /* --fz-title-100: 4.375rem; */
    --fz-title-110: 3.4375rem;
    --paddwiser: 2rem;
  }

  .gridwise {
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--column-gap, 1rem);
  }

  #home header {
    --right-padd: var(--paddwiser);
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .curtain {
    background-color: var(--clr-neutral-010);
    flex: 1 1 0;
  }

  .hero {
    flex: 0 1 auto;
  }

  .hero img {
    width: initial;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: right;
  }

  .intro {
    --flowiser: 2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -5rem;
    flex: 1 0 290px;
    padding: 5rem 0;
  }

  #home h1 {
    margin-top: 0;
  }

  #location h1 {
    grid-column: 1/span 5;
    width: min-content;
  }

  main {
    --top-padd: calc(var(--paddwiser) * 2.5);
    --bot-padd: calc(var(--paddwiser) * 2.5);
  }

  .white-card {
    grid-column: 1/span 5;
  }

  .img-grid-1 {
    grid-column: span 7/-1;
  }

  .img-grid-2 {
    grid-column: 1/span 7;
    grid-row: span 2;
  }

  .img-grid-3 {
    grid-column: span 5;
  }

  .black-card {
    grid-column: span 5;
    padding: 2.5rem 1.5rem;
  }

  #location .location-text {
    grid-column: span 7/-1;
  }

  footer {
    --left-padd: var(--paddwiser);
    --right-padd: var(--paddwiser);
    --top-padd: calc(var(--paddwiser) * 3 / 2);
    --bot-padd: calc(var(--paddwiser) * 3 / 2);
  }

  .footer .logo {
    grid-column: span 2;
  }

  .footer p {
    grid-column: 4/span 5;
  }

  .footer ul {
    grid-column: span 2/-1;
    justify-self: end;
  }

}

@media all and (min-width: 880px) {
  :root {
    --fz-title-100: 6rem;
    --fz-title-110: 4.375rem;
    --fz-title-200: 3.75rem;
    --fz-title-210: 2.25rem;
    --fz-body: 1.375rem;
    --fz-footer: 1.125rem;
    --paddwiser: 3rem;
    --inlay: 160px;
    --title-h: 170px;
    --title-w: calc(var(--title-h) * 2.75);
  }

  #home header {
    --left-padd: var(--paddwiser);
    position: relative;
  }

  #home header::before {
    content: "";
    background-color: var(--clr-neutral-010);
    /* border: solid 2px yellow; */
    display: block;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .header {
    position: relative;
  }

  .curtain {
    flex-grow: 10;
    background-image: url(../images/logo-light.svg);
    background-repeat: no-repeat;
    background-position: left var(--inlay);
    background-size: var(--title-w) var(--title-h);
    z-index: 1;
    /* 😂🤣😂😎 */
  }

  .intro {
    margin-top: var(--inlay);
    margin-bottom: 0;
    margin-left: -5rem;
    flex: 2 0 270px;
    padding: 0;
  }

  #home h1 {
    position: absolute;
    left: -10000px;
  }

  .intro .title-logo {
    width: var(--title-w);
    height: calc(var(--inlay) + var(--title-h));
    background-image: url(../images/logo-dark.svg);
    background-repeat: no-repeat;
    background-position: left var(--inlay);
    background-size: var(--title-w) var(--title-h);
    left: 0;
    top: 0;
  }

  .intro .title-logo img {
    width: 100%;
  }

  .intro p {
    margin-top: 0;
  }

  .white-card {
    grid-column: 1/span 4;
  }

  .black-card {
    padding: 3rem;
  }

  #location .location-text {
    grid-column: span 6/-1;
  }

}